:root {
    --font-text: "Roboto";
    --font-title: "Roboto";
    --color-primary: rgb(33, 33, 105);
    --color-secondary: red;
    --color-touch: black ;
    --color-white: white;
    --color-background: beige;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    line-height: 1.6;
    color: var(--color-touch);
    background-color: var(--color-background);
  }

  .header {
    background-color: var(--color-primary);
    padding: 30px;
  }

  .nav a {
    color: var(--color-white);
    padding: 10px;
  }

  .spec strong {
    font-family: "Be+Vietnam+Pro";
    font-weight: 600;
  }

  .footer {
    background: var(--color-primary);
    color: #fff;
    padding: 10px;
    /* font-size: 1.25rem; */
    text-align: center;
    
  }
  