@media screen and (min-width: 760px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    display: flex;
  }

  header nav a:hover {
    background-color: unset;
    text-decoration: solid;
  } 

  header nav a:hover {
    background-color: #ddd;
    color: black;
  }

  header span {
    display: none;
  }

  main {
    max-width: 1200px;
    margin-inline: auto;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
  }

  .newsletter-signup form {
    display: inline-block;
    align-items: center;
    margin-top: 10px;    
  }

  .team-members {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .team-members figure {
    text-align: center;
  }
  
  .team-members img {
    width: 200px; 
    height: 250px;
    margin-bottom: 10px;
  } 

  .contact-form {
    flex: 2;
    padding-left: 20px;
    width: 500px;
  }

  .hide {
    display: none;
  }
}

