:root {
    --font-text: "Roboto", system-ui;
    --body-text: "Arial san serif";
    --color-primary: rgb(25, 25, 91);
    --color-secondary: red;
    --color-touch: black ;
    --color-white: white;
    --color-background: beige;
    --color-orange:rgb(235, 187, 98);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--body-text);
    background-color: var(--color-background);
  }

  header {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1.5rem;
    font-family: var(--font-text);
  }

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header div h1 {
  text-align: center;
}

header nav {
  display: none;
}

header nav.display {
  display: flex;
  flex-direction: column;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 1rem;
}

.highlighted {
  margin-top: 0.5rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 10px;
  background-color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  text-align: center;
} 

.logo {
  color: var(--color-secondary);
  justify-content: center;
  font-size: 20px;
  font-family: var(--font-text);
  padding-left: 10px;
  float: left;
  padding-top: 10px;
}

main {
  padding: 1rem;
}

.container-image img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 20px;
} 

.container-image h2 {
  color: var(--color-secondary);
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
} 

.container-image h3 {
  color: var(--color-primary);
  font-size: 2rem;
  position: relative;
  top: 60px;
  text-align: center;
} 

.required {
  color:var(--color-secondary)
}

.newsletter-signup {
  padding: 20px;
  background-color: var(--color-white);
  text-align: center;
}

.newsletter-signup form {
  display: inline-block;
  margin-top: 10px;
}

.newsletter-signup .submit:hover {
  background-color: var(--color-orange);
}

.newsletter-signup input[type="text"],
.newsletter-signup input[type="email"],
.newsletter-signup input[type="submit"] {
  padding: 10px;
  margin: 5px;
}

.contact-details {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: large;
}

.team-section h1 {
  color: orange;
  text-align: center;
  padding: 30px;
}

.team-members {
  display: flex;
  justify-content: space-evenly;

}

.team-members figure {
  text-align: center;
}

.team-members img {
  width: 150px; 
  height: 160px;
  flex: auto;
} 

.contact-details {
  flex: 1;
  padding-right: 20px;
}

.contact-details h2 {
  color: orange;
}

.contact-form h2 {
  color: orange;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
}
  
hr {
  margin: 20px;
}

.hide {
  margin: 20px;
}

.contact-form {
  background-color: var(--color-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form fieldset {
  border: none;
  padding: 0;
  margin-bottom: 15px;
}

.contact-form fieldset legend {
  padding-bottom: 10px;
}

.contact-form label input[type="radio"],
.contact-form label input[type="checkbox"] {
  margin-right: 10px;
}

.contact-form .submit-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
}

.contact-form .submit-button:hover {
  background-color: var(--color-orange);
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  flex-basis: 48%;
}

.container {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-bottom: 20px;
} 

.container p {
  padding: 5px;
}

.sociallinks {
  display: flex;
  place-items: center; 
}

.sociallinks img {
  width: 20px;
  height: auto;
  margin: 10px;
}

footer {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 1.5rem;
  text-align: center;
}

footer p {
  color: #fff;
  text-align: center;
}