@media screen and (min-width: 680px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav {
    display: flex;
  }

  header nav a:hover {
    background-color: unset;
    text-decoration: solid;
  } 

  header nav a:hover {
    background-color: #ddd;
    color: black;
  }

  header span {
    display: none;
  }

  main {
    max-width: 1200px;
    margin-inline: auto;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: flex;
  }

  .contact-form {
    flex: 2;
    padding-left: 20px;
    width: 500px;
  }

  .hide {
    display: none;
  }
}

