:root {
  --font-text: "Roboto";
  --font-title: "Roboto";
  --color-primary: rgb(33, 33, 105);
  --color-secondary: red;
    --color-touch: black ;
    --color-white: white;
    --color-background: beige;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-text);
    line-height: 1.6;
    color: var(--color-secondary);
    background-color: grey;
} 

.header {
  padding: 20px;
  background-color: var(--color-primary);
  width: 100%;
}

.nav {
  height: 75px;
  padding: 0,45px;
  margin: auto;
  width: 100%;
}

.logo {
  color: var(--color-secondary);
  justify-content: center;
  font-size: 25px;
  font-family: Arial;
  padding-left: 10px;
  float: left;
  padding-top: 10px;
}

.menu {
  width: 300px;
  float: right;
  height: 70px;
  font-size: large;
}

ul {
  float: right;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

ul li {
  margin-left: 40px;
  margin-top: 27px;
  font-size: 14px;
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto";
  font-size: 300;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: orange;
}

.text {
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-white);
  margin: 10px;
  padding-bottom: 50px;
}

footer {
  background-color: var(--color-primary);
  padding: 20px;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

footer p {
  text-align: center;
  color: var(--color-white);
  font-family: "Roboto";
  font-size: medium;
}

.footer img {
  float: right;
  align-items: center;
  width: 50px;
  height: 60px;
  margin-right: 30px;
  margin-top: 5px;
  position: relative;
  bottom: 30px;
}