
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #f9f9f9;
  color: #333333;
}

header {
  background-color: darkblue;
  text-align: center;
  color: white;
  width: 78rem;
  position: relative;
  left: 50px;
}

header h1 {
  margin-top: 15px;
  font-size: 2rem;
  font-family: "Sofadi One", system-ui;
  font-weight: 400;
}

header span {
  color: rgb(221, 19, 19);
  font-weight: 100;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 10px;
  background-color: #262826;
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: #555555;
  cursor: pointer;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.me {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}


.me img {
  width: 100px;
  height: 150px;
  border-radius: 8px;
}

.me p {
  flex: 1;
  margin: 0;
}

hr {
  margin: 20px;
}

.flag {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.flag img {
  width: 200px;
  height: 120px;
}

.aside h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  background-color: darkblue;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  background-color: darkblue;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.flag div p {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 360px;
  left: 250px;
}
.flag article p {
  position: absolute;
  top: 570px;
  left: 100px;
}

.flag h5 {
  position: absolute;
  top: 570px;
  left: 120px;
}

.aside ul {
  padding: 0;
  margin-left: 20px;
}

.aside ul li {
  margin-bottom: 10px;
}

.aside ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer {
  background-color: rgb(33, 33, 105);
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  width: 78rem;
  position: relative;
  top: 40px;
  left: 50px;
}
