  @media (min-width: 768px) {
    .divider {
      display: none;
    }
  
    main {
      position: relative;
    }
  
    .card {
      width: 300px;
      position: absolute;
      top: 0;
      background: var(--color-touch);
      margin-block: 2rem;
      margin-inline: 1rem;
    }
  
    .card.position-right {
      right: 0;
      bottom: 0;
      top: unset;
    }
  
    .card__title {
      color: var(--color-white);
      background: linear-gradient(
        90deg,
        rgba(22, 78, 112, 1) 0%,
        rgba(22, 78, 112, 1) 3%,
        rgba(22, 78, 112, 0.4) 100%
      );
      width: 85%;
      flex-direction: row;
      margin: 0;
      margin-top: 0.5rem;
      margin-left: -4rem;
      padding: 1rem;
      align-items: center;
      justify-content: space-between;
    }

    .card h2 {
      background-color: var(--color-primary);
      padding: 1.3rem;
    }

    .card.position-right h2 {
      background-color: var(--color-primary);
      padding: 0.3rem;
    }
  
    .footer {
      margin-top: -0.5rem;
    }

    .card:nth-of-type(2) .card__title::after {
      content: url("../images/weather_iconlg.svg");
      width: 60px;
    }
  }
  
