
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui;
}

header {
  background-color: darkorchid;
  color: #fff;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header div h1 {
  text-align: center;
}

header nav {
  display: none;
}

header nav.display {
  display: flex;
  flex-direction: column;
}

main {
  padding: 1rem;
}

main h2 {
  padding: 1rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  place-items: center;
}

.container figure img {
  width: 100%;
  height: auto;
}

.container figure figcaption {
  padding: 0.5rem;
  text-align: center;
}

.container figcaption {
  color: darkorchid;
}

footer {
  background: darkorchid;
  color: #fff;
  padding: 1.5rem;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

footer p {
  color: #fff;
  text-align: center;
}

.highlighted {
  margin-top: 0.5rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
}


header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

header nav ul li {
  flex: 1;
}

header nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 10px;
  background-color: darkorchid;
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  text-align: center;
} 
